.new {
    display: flex;
    width: 100%;

}
.new .newContainer {
    flex: 6;
}

.new .newContainer .top, .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
}

.new .newContainer .top h1 {
    color: rgb(211, 161, 96);
    font-size: 23px;
}

.new .newContainer .bottom .left {
    flex: 2;
}


.new .newContainer .bottom .right {
    flex: 1;
    background-color: red;
    text-align: end;
}
.new .newContainer .bottom .right img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid darkgray;
    object-fit: cover;
    background-color: darkgray;
    
}
