.app{
  display: flex;
}

.app-container {
  flex: 6;
}

.app-container .widgets, .charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.app-container .chart {
  padding: 5px 20px;
}

/* .app-container .listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
  padding: 20px;
  margin: 20px;
}
.app-container .listContainer .listTitle {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
} */
.data-table{
  padding: 16px;
}

.data-table__heading{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
  padding: 12px;
  border-radius: 4px;
  /* margin: 20px; */
}

.data-table__title{
  font-size: 24px;
}

.link{
  text-decoration: none;
}
